.cards {
    padding-top: 20px;
}

.cards__list {
    border-bottom: 1px solid #21212166;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: repeat(auto-fit, 413px);
    justify-content: center;
    gap: 40px 20px;
}

@media screen and (max-width: 627px) {
    .cards__list {
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 20px;
        