.footer {
    width: 104px;
    height: 16px;
    top: 1340px;
    left: 668px;
    gap: 0px;
    opacity: 0px;   
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #212121B2;
}