.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000080;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    visibility: hidden;
    padding: 0 20px;
    /* transition: visibility 0.3s, opacity 0.3s ease-in; */
    opacity: 0;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    background: #fff;
    padding: 32px 50px;
    max-width: 730px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
}

.modal__container_type_image {
    background: transparent;
    padding: 0;
    max-width: none;
  }
  
  .modal__image {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    border-radius: 8px;
  }

  .modal__caption {
    margin-top: 10px;
    color: #fff;
    text-align: center;
  }

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    color: #2121214d;
    background-image: url(../images/X.svg);
    border: 2px;
    opacity: 40%;    
    background-color: transparent;
}

.modal__close-btn:hover {
    cursor: pointer;
}

.modal__title {
    font-family: 'Poppins';
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 0 32px;
    color: #212121B2;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}

.modal__input {
    display: block;
    padding: 16px 12px;
    margin: 8px 0 0;
    border-color: #2121214d;
    border-radius: 8px;
}

.modal__input::placeholder{
    color: #2121214d;
}

.modal__submit-btn {
    width: 156px;
    padding: 18px 0;
    background-color: #212121;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FCF5E5;
    border-radius: 8px;
}

.modal__submit-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 627px) {
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }

    .modal__title {
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        margin: 12px 22px 34px  0;
    }

    .modal__close-btn {
        top:12px;
        right: 12px; 
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__submit-btn {
        width: 100%;
        max-width: none;
    }
}