.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    margin-right: 20px;
    height: 190px;
    width: 190px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profile__name{
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    max-width: 420px;
    color: #212121;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}


.profile__description {
    margin: 0;
    max-width: 420px;
    color: rgba(33, 33, 33, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.profile__edit-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 16px;
    padding-top: 18px;
    border: none;
    width: fit-content;
    background-color: transparent;
    color: #212121;
    opacity: 0.7;
}

.profile__edit-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.profile__add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 157px;
    height: 52px;
    gap: 8px;
    background-color: #212121;
    color: #FCF5E5;
    align-self: end;
    border-radius: 8px;
    border: none;
    transition: opacity 0.2s ease;
}

.profile__add-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 627px){
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
    }

    .profile__name {
        font-size: 20px;
        margin: 0 0 6px;
    }

    .profile__description {
        margin: 0 0 32px;
    }

    .profile__column {
        margin: 0 0 20px;
        justify-content: center;
        align-items: center;
    }


    .profile__add-btn {
        margin: 0 auto;
        width: 100%;
    }
    
}